# Node Environment
NODE_ENV=development


EMAIL_USER=dotienquang110703@gmail.com
EMAIL_PASSWORD=czlf zuzi uziw vkte

# Server Configuration
PORT=3001

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Supabase Configuration
SUPABASE_URL=https://qchjxqztegziqllwgnwb.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Database
DATABASE_URL=your-database-url

# JWT Secret
JWT_SECRET=jobvip-secret-key-2025-change-in-production

SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjaGp4cXp0ZWd6aXFsbHdnbndiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTM3NDU4NywiZXhwIjoyMDc0OTUwNTg3fQ.b9MR13MrsBlsB0HZ9lTFT6jZLAV_t32GQikV7NuXrk0