REACT_APP_API_URL=http://localhost:9000
# REACT_APP_API_URL= https://website-recruitment-intergration-ch.vercel.app/
# API Configuration 
REACT_APP_AI_SERVICE_URL=http://localhost:5000

# Supabase Configuration
REACT_APP_SUPABASE_URL=https://qchjxqztegziqllwgnwb.supabase.co
REACT_APP_SUPABASE_ANON_KEY=your-supabase-anon-key
 